
interface
{
	type xmlrpc
	config
	{
		server
		{
			port 2104
		}
	}
}

pool
{
	type zeromq
	config
	{
		iothreads 1
		size 2
		stop_check_interval 1000 ; microseconds?? milliseconds!
		queue
		{
			port 8967
		}
		hub
		{
			#include "hub.rc"
		}
		uri "http://localhost:2104/RPC2"
		resources
		{
			#include "resources.rc"
		}
		worker
		{
			tmp "/tmp/bunsan_worker"
			port 9876
		}
		repository
		{
			;uri_substitution repository
			;resource_name bunsan_istu_repo
			pm
			{
				#include "pm.rc"
			}
		}
	}
}

