
lang_
{
	; c
	"c"		"gcc"
	"gcc"		""
	; c++
	"c++"		"g++"
	"g++"		""
	; java
	"java"		""
	; pascal
	"pascal"	"fpc"
	"fpc"		""
	; python
	"python2"	""
	"python3"	""
	; other
	"perl"		""
	"sh"		""
	"bash"		""
	"zsh"		""
}

